GEMINI_API_KEY=
GEMINI_API_KEY2=

TIMESCALE_SERVICE_URL=
PGHOST=
PGPORT=
PGUSER=
PGPASSWORD=
PGDATABASE=
PGSSLMODE=require

# set NESSIE_USE_MOCK=false and supply key when up 
NESSIE_BASE_URL=http://api.nessieisreal.com
NESSIE_API_KEY=
NESSIE_USE_MOCK=true

#tuning 
RANDOM_EVENT_PROBABILITY=0.15
PREDICTION_INTERVAL_DAYS=10
