<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link Tailwind Compiled Output -->
    <link rel="stylesheet" href="{{ url_for('static', filename='prod/output.css') }}">
    <title>Flask + Tailwind</title>
</head>
<body class="bg-gray-100 p-8">
    <div class="mx-auto max-w-4xl">
        <div class="overflow-hidden rounded-lg border border-gray-300 bg-white">
            <div class="border-b border-gray-300 bg-gray-50 px-5 py-3">
                <h2 class="font-semibold">{{ ticker }}</h2>
            </div>

        </div>
        <div>
            <h1 class="text-red-50"> TO BE CONTINUED</h1>


        </div>

    </div>
    


</body>
</html>
